<p>
  <b>Example:</b>
  <%=h @example.example %>
</p>

<p>
  <b>Gloss:</b>
  <%=h @example.gloss %>
</p>

<p>
  <b>Translation:</b>
  <%=h @example.translation %>
</p>


<%= link_to 'Edit', edit_example_path(@example) %> |
<%= link_to 'Back', examples_path %>